<% content_for(:head) do -%>
  <%= javascript_include_tag 'common' %>
  <%= javascript_include_tag 'live-comment-preview' %>
  <style><%= @styles.join("\n") -%></style>
<% end -%>
<% content_for(:page_title) do -%>
<%= post_title(@post) -%>
<% end -%>
<%= render :partial => 'posts/post', :locals => {:post => @post} %>
<ol class="commentlist">
  <% @post.approved_comments.each do |comment| -%>
  <li<%=raw cycle(' class="alt"', '') %> id="comment-<%= comment.id %>">
    <%= render :partial => 'comments/comment', :locals => {:comment => comment} %>
  </li>
  <% end -%>
</ol>
<div class="related">Looking for more? Head on over to the <%= link_to("archives", archives_path) %>.</div>
<h2>Post a comment</h2>
  <% unless @comment.errors.empty? -%>
  <div class="errors">
    <h3>Comment not added!</h3>
    <ul>
      <% @comment.errors.sort_by(&:first).each do |error| -%>
        <li><%= format_comment_error(error) %></li>
      <% end -%>
    </ul>
  </div>
  <% end -%>
<%= form_for([@post, @comment]) do |form| -%>
  <div>
    <p class="<%= @ns.random -%>"><%= form.text_field 'author' %><label for="comment_author"><small>Name or <a href="http://openidexplained.com/">OpenID</a> (required)</small></label></p>
    <p class="<%= @ns.random -%>"><%= form.text_field 'author_email' %><label for="comment_author_email"><small>Your email (required if no openid)</small></label></p>
    <p class="<%= @hs.random -%>"><%= text_field_tag 'comment[author_website]', '', :id => 'comment_author_website' %><label for="comment_author_website"><small>Website</small></label></p>
    <p class="<%= @hs.random -%>"><%= text_field_tag 'comment[website]', '', :id => 'comment_website' %><label for="comment_website"><small>Website</small></label></p>
    <p class="<%= @hs.random -%>"><%= text_field_tag 'website' %><label for="website"><small>Website</small></label></p>
    <p class="<%= @hs.random -%>"><%= text_field_tag 'url' %><label for="url"><small>Website</small></label></p>
    <p class="<%= @ns.random -%>"><%= form.text_area 'body' %><br /><small>(<a href="http://lesstile.rubyforge.org">lesstile enabled</a> - surround code blocks with ---)</small></p>
    <p><%= submit_tag "Add Comment" %></p>
  </div>
<% end -%>

<% if session[:honeypot_data] %>
  <p class="<%= @hs.random -%>">
    <%= session[:honeypot_data].inspect %>
  </p>
<% end %>
