<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC
    "-//W3C//DTD XHTML 1.1 plus MathML 2.0 plus SVG 1.1//EN"
    "http://www.w3.org/2002/04/xhtml-math-svg/xhtml-math-svg-flat.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"/>
  <title><%= yield(:page_title) || h(config[:title]) %></title>
  <%= stylesheet_link_tag 'application', 'coderay' %>
  <%= javascript_include_tag 'jquery' %>
  <%= open_id_delegation_link_tags(h(config[:open_id_delegation, :server]), h(config[:open_id_delegation, :delegate])) if config[:open_id_delegation] %>
  <%= yield(:head) %>
</head>
<body>
  <div id="page_container">
    <h1 id="page_heading"><a href="<%=h config[:url] %>"><%=h config[:title] %></a></h1>
    <h2 id="page_subtitle"><%=h config[:subtitle] %></h2>

    <div id="main">
      <%= yield %>
    </div>

    <div id="navigation">
      <h2>Pages</h2>
      <ul>
        <% page_links_for_navigation.each do |link| -%>
          <li><%= link_to(h(link.name), link.url) %></li>
        <% end -%>
      </ul>
      <form method="get" id="sform" action="http://www.google.com/search">
        <div>
          <h2><label for="q">Search</label></h2>

          <input type="text" id="q" value="" name="q" />
          <input type="hidden" name="sitesearch" value="<%=h config[:url] %>" />
        </div>
      </form>

      <h2>Donate</h2>
      <table cellpadding="0" cellspacing="0" border="0" style="margin-bottom:1em; font: 0.8em Arial, sans-serif; cursor:pointer" onclick="$('#donate-form').submit()">
        <tr><td width="116" height="77" style="border: 0; background:url(http://img.yandex.net/i/money/top-1rub-aqua.gif) repeat-y; text-align:center; padding: 0;" align="center" valign="bottom"><form style="margin: 0; padding: 0 0 2px;" action="https://money.yandex.ru/donate.xml" id="donate-form" method="post"><input type="hidden" name="to" value="41001125445013"/><input type="hidden" name="s5" value="1rub"/><input type="submit" style="width:7em; cursor:pointer" value="дай рубль"/></form></td></tr>
        <tr><td width="116" height="38" style="font-size:13px; color:black;padding: 0; border: 0; background:url(http://img.yandex.net/i/money/bg-aqua.gif) repeat-y; text-align:center; padding: 5px 0;" align="center" valign="top"><b>поддержать автора</b></td></tr>
        <tr><td style="padding: 0; border:0">
            <div style="height:30px; overflow:hidden">
              <img src="http://img.yandex.net/i/money/bottom-aqua.gif" width="116" height="40" alt="" usemap="#button" border="0" style="border:none" /><!--map name="button"><area alt="Яндекс" coords="38,2,49,21" href="http://www.yandex.ru"><area alt="Яндекс. Деньги" coords="52,1,84,28" href="https://money.yandex.ru"><area alt="Хочу такую же кнопку" coords="17,29,100,40" href="https://money.yandex.ru/choose-banner.xml"></map-->
            </div>
          </td></tr>
      </table>

      <% unless category_links_for_navigation.empty? -%>
        <h2>Categories</h2>
        <ul>
          <% category_links_for_navigation.each do |link| -%>
            <li><%= link_to(h(link.name), link.url) %></li>
          <% end -%>
        </ul>
      <% end -%>

      <h2>Ads</h2>
      <ul>
        <li><a href="http://2co.0xff.me">site template for 2CO</a></li>
        <li><a href="http://2co.0xff.me">2Checkout simple site template</a></li>
      </ul>

    </div>
    <div id="footer"><%=h config[:title] %> &#169; <%=h config[:author, :name] %>. Powered by <noindex><a href="http://www.enkiblog.com" title="A Ruby on Rails blogging app for the fashionable developer">Enki</a></noindex>.</div>
  </div>
</body>
</html>
